body * {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.form {
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
}

.label {
    display: block;
    padding-bottom: 10px;
}

.input,
.button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
}

.input {
    margin-bottom: 20px;
}

.button {
    background-color: #009eff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #009eff;
}

.button:hover {
    cursor: pointer;
    background-color: #007bc6;
}

.crossout {
    text-decoration: line-through;
}

.container {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
